body {
    background: linear-gradient(to right, #6498e6, #5ac77e);
}

title {
font-size: 2em;
color: turquoise;
}

img {
    border: rosybrown;
    border-style: inset;
    border-width: 1em;
    height: 25rem;
    margin: 2em;
    margin-left: 13em;
}

#title {
    font-size: 3em;
}

.name {
    font-weight: bold;
    margin-left: 33%;
    font-size: 2em;
}

#name {
    margin-left: 33%;
}

#title {
    margin-left: 25%;
}

#intro {
    margin-left: 25%;
}

#link {
    margin-left: 33%;
}  

.abc {
    float: left;
    padding: .3em;
}

#A {
    margin-left: 15em;
}

#themAll {
    margin-left: 33%;
}

#picture {
    z-index: -1;
    background-image: url("BabySeaLionBG.png");
    background-repeat: no-repeat;
    background-position: right
}

button {
    background-color: sandybrown;
}

.button {
    margin-left: 20%;
}

.left,
.right {
    float: left;
}

.animals, #right {
    padding-right: 1em;
    padding-left: 1em;
}

#aNames {
    margin-left: 5%;

}

#aNames  {
    padding-bottom: 3em;
}

a {
    color: gold;
}

#link {
    margin-left: 17%;
}


#cute {
    z-index: 4;
    width: 100px;
    height: 100px;
}
#G, #K, #H, #I, #J, #D, #I,
#T, #U, #V, #X, #Y, #Z {
    color: rgba(255, 0, 0, 0.4);;
}